body{
    background-color: #FFFFFF;
}

.container{
    background-color: lightblue;
    text-align: center;
    justify-content: center;
}

.container .title{
    color: lightsalmon;
    text-align: center;
    font-size: large;
    margin-bottom: 1rem;
}

.conteudo-enquete{
    color: gray;
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
}

.container-cards{
    color: lightsalmon;
    text-align: center;
    font-size: large;
    margin-bottom: 1rem;
}