body{
    background-color: #FFFFFF;
}

.container{
    background-color: lightblue;
    text-align: center;
    justify-content: center;
}

.container .title{
    color: lightsalmon;
    text-align: center;
    font-size: large;
    margin-bottom: 1rem;
    font-weight: 700;
}

.conteudo-enquete{
    color: gray;
    text-align: center;
    font-size: 24px;
}

.container-cards{
    color: lightsalmon;
    text-align: center;
    font-size: large;
}

.container-cards p{
    color: gray;
    text-align: center;
    font-size: 24px;
}

.container-cards h2{
    color: lightsalmon;
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.inputBox {
    max-width: 37.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
  }
